<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Hello <%= locals.text || 'Default' %>! <!-- Use locals. to avoid error when the variable is undefined -->
  </body>
</html>
